*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.cameraView{
  max-width: 60vw;
}

video{
  width: 100%;
}

canvas{
  display: none;
  margin-bottom: 3rem;
}

.capture{
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid white;
  outline: none;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}
.gallery{
  position: fixed;
  bottom: 3.3rem;
  left: 85%;
  transform: translateX(-50%);
  height: 3.3rem;
  width: 5rem;
  border: 3px solid white;
  outline: none;
  background-color: black;
  color: white;
  font-size: 1rem;
}
.capture:active, .gallery:active{
  transform: translateX(-50%) scale(0.95);
}

@media screen and (max-width:1100px){
  .cameraView{
    max-width: 100vw;
  }
}